{% extends 'base.html.twig' %}

{% block body %}
    <div class="container_list_project">
        <h2>Liste des projets</h2>

        <div class="container_cards_projects">
            <div class="cards_projects">
                <img src="{{ asset("img/Exo.jpg") }}" class="card_img">

                <h4>Exercice d'Examen 1</h4>

                <div class="link_projects">
                    <a href=""><i class="fa-solid fa-link"></i></a>
                    <a href="https://github.com/TeddyH08/Examen_dev_Hemonet" target="_blank"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>

            <div class="cards_projects">
                <h4>Nom du projet</h4>

                <div class="link_projects">
                    <a href=""><i class="fa-solid fa-link"></i></a>
                    <a href=""><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container_contact">
        <h2>Contactez-nous</h2>
    </div>
{% endblock %}